<div class="list-main" ng-controller="listCtrl">
	
	<div class="create" open-create>
		<i class="fa fa-plus icon" aria-hidden="true" ></i>
	</div>
	
	<div class="title">
		<h1>{{list.name}}</h1>
	</div>
	
	<div class="item-wrapper" ng-repeat="reminder in list.items | orderBy : date: false">
		
		<div class="item-top">
			<h5>{{reminder.name}}</h5>
			<h5>{{reminder.date}}</h5>
		</div>
		<h5>{{reminder.description}}</h5>
	
	
	</div>
	
	
	<div class="side-panel">
		<div class="close" close-create>
			<i class="fa fa-times icon" aria-hidden="true" ></i>
		</div>
		
		<div class="btns">
		
		</div>
	</div>
	
</div>