<div class="list-main" ng-controller="listsCtrl">
	
	<div class="create" open-create>
		<i class="fa fa-plus icon" aria-hidden="true"></i>
	</div>
	
	<div class="close-wrapper" close-create>
		<div class="title">
			<h1>{{list.name}}</h1>
		</div>
		
		<div class="item-wrapper" ng-repeat="item in list.items track by $index">
			
			<div class="item-row">
				<h5>{{item.name}}</h5>
				<h5>{{item.date}}</h5>
			</div>
			
			<div class="item-row">
				<div class="description"><h5>{{item.description}}</h5></div>
				<div class="edit-btn" ui-sref="user.list.edit({itemIndex: $index})" ui-sref-opts="{reload: true}" open-create>
					<i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
				</div>
			</div>
			
		
		</div>
	</div>
	
	<ui-view class="side-panel"></ui-view>

</div>