<div class="login-main">
	
	<div class="login-logo"><h1>Login / Sign Up</h1></div>
	
	<div class="login-auth">
		<a href="http://localhost:8080/auth/google">
		<div class="google-btn"><i class="fa fa-google fa-3x" aria-hidden="true"></i></div>
		</a>
		<a href="facebook.com" target="_blank">
		<div class="facebook-btn"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></div>
		</a>
	</div>
	
	
	<div><input class="login-input" type="text" placeholder="Currently Doesn't Work"></div>
	<div><input class="login-input" type="text" placeholder="Currnetly Doesn't Work"></div>
	
	
	<!--<div class="sign-up"><h3>SIGN UP</h3></div>-->
	
</div>