<div class="side-panel-main">
	
	
	
	
	<div class="close" close-create>
		<i class="fa fa-times icon" aria-hidden="true"></i>
	</div>
	
	<div class="title"><h1>New Category</h1></div>
	
	<div class="input-wrapper">
		<h4 class="edit-titles">Name</h4>
		<input class="edit-input" type="text" ng-model="newList.name">
	</div>
	<div class="input-wrapper" ng-cloak>
		<h4 class="edit-titles">Icon </h4>
		<input class="edit-input" type="text" ng-model="newList.icon">
		
		
		
		<select class="edit-input" name="Icons" id="Icons" placeholder="Icon">
			<option value="pencil"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></option>
			<option value="pencil"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></option>
			<option value="pencil"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></option>
			<option value="pencil"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></option>
		</select>
		
	
	</div>
	
	
	<div class="btns">
		<div class="btn" ng-click="postList()">Save</div>
		<div class="btn" close-create>Cancel</div>
	</div>

</div>