/*
  upKeep for fun
  
*/
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');



$mainColor: #66C7F4;
$secondColor: #B2FFD6;
$lightColor: #FEFEFE;

$font: 'Reem Kufi', sans-serif;

@-ms-viewport {
  width: device-width;
  max-width: 550px;
}

body {
  background: #dddddd;
  height: 100vh;
  box-sizing: border-box;
  font-family: $font;
  
  
  
  a {
    font-family: $font;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:link {
    text-decoration: none;
    color: black;
  }
  
  input {
    text-align: center;
    font-family: $font;
  }
  h1 {
    text-align: center;
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  h5 {
    margin: 0;
  }
  
  
}



.login-main {
  padding: 50px 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  .login-text {
    height: 150px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .login-logo {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .img {
      width: 250px;
    }
  }
  
  .login-auth {
    display: flex;
    flex-direction: row;
    
    .google-btn {
      margin: 5px;
      color: $lightColor;
      background-color: #dd4b39;
      height: 75px;
      width: 130px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .facebook-btn {
      margin: 5px;
      color: $lightColor;
      background-color: #3b5998;
      height: 75px;
      width: 130px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .login-input {
    width: 270px;
    margin: 5px 0;
  }
  
  .sign-up {
    margin: 5px;
    color: $lightColor;
    background-color: $mainColor;
    height: 75px;
    width: 130px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #dddddd;
  overflow: scroll;
}



.user-view {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  max-width: 550px;
  overflow: hidden;
  
  
  .nav-main {
    min-height: 100vh;
    width: 20vw;
    max-width: 110px;
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
    .nav-lists {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    
    }
    .btn {
      
      width: 18vw;
      max-width: 100px;
      height: 18vw;
      max-height: 100px;
      background-color: $secondColor;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .create-list {
      border-radius: 8vw;
    }
    
    .mini-logo {
      background-color: transparent;
      
      .logo-mini {
        width: 18vw;
        max-width: 100px;
        height: 18vw;
        max-height: 100px;
      }
    }
    
  
    .list-logo {
      margin: 1vw 1vw 2vw;
    }
  
    .icon {
      font-size: 14vw;
    }
  }
  
  
  
  
  .title {
    margin-top: 8px;
    min-height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .create {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    height: 16vw;
    max-height: 88px;
    width: 16vw;
    max-width: 88px;
    background-color: $mainColor;
    border-radius: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .icon {
      font-size: 10vw;
    }
  }
  
  
  .edit-btn {
    margin: 10px 0;
    background-color: $mainColor;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .side-panel {
    margin: 0;
    padding: 0;
    background-color: $lightColor;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    max-width: 550px;
    overflow: hidden;
    transition: all 0.5s;
    
    
    .close {
      position: absolute;
      top: 16px;
      left: 4vw;
      height: 10vw;
      max-height: 55px;
      width: 10vw;
      max-width: 55px;
      background-color: $mainColor;
      border-radius: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .icon {
        font-size: 4vw;
      }
    }
  }
  .btns {
    display: flex;
    flex-direction: row;
    
    .btn {
      width: 65px;
      background-color: $mainColor;
      border-radius: 5px;
      padding: 8px;
      margin: 15px;
      display: flex;
      justify-content: center;
    }
  }
  
  .text-area {
    resize: none;
  }
  
  .div-text {
    display:inline-block;
    background: white;
    border: solid 1px #000;
    min-height: 40px;
    width: 250px;
  }
  
  
  
}



.home-main {
  min-height: 100vh;
  width: 80vw;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  .list-mini {
    background-color: $secondColor;
    border-radius: 10px;
    margin: 7px 2px;
    padding: 7px 4px 7px 7px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
    .list-mini-name {
      background-color: $mainColor;
      border-radius: 5px;
      padding: 3px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85%;
      
    }
    
    .list-mini-btns {
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }
  
}



.settings-main {
  min-height: 100vh;
  width: 80vw;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  .input-wrapper {
    background-color: $secondColor;
    border-radius: 10px;
    margin: 7px 1vw;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .check {
    justify-content: space-around;
  }
  .set-titles {
    margin-left: 5px;
    min-width: 85px;
  }
  .set-input {
    margin-right: 5px;
    width: 100%;
  }
  
  .logout {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    height: 16vw;
    max-height: 88px;
    width: 16vw;
    max-width: 88px;
    background-color: $mainColor;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .icon {
      font-size: 12vw;
    }
  }
  
  
  
  
  
}



.list-main {
  min-height: 100vh;
  width: 80vw;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  .create-margin {
    padding: 0 0 24vw;
  }
  
  .item-wrapper {
    background-color: $secondColor;
    border-radius: 10px;
    margin: 7px 2px 7px 0;
    padding: 7px 4px 7px 7px;
    min-height: 50px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
  }
  .item-row {
    box-sizing: border-box;
    padding: 5px 10px 5px 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}



.side-panel-main {
  width: 100%;
  min-height: 100vh;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  
  .input-wrapper {
    box-sizing: border-box;
    padding: 10px;
    background-color: $secondColor;
    border-radius: 10px;
    margin: 7px 2px;
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-input {
    width: 200px;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    min-width: 25px;
    
    .radio-wrapper {
      margin: 5px;
    }
    
  }
}


@media (min-width: 550px) {
  .user-view {
    
    .nav-main {
      .list-logo{
        margin: 5.5px 5.5px 11px;
      }
      
      .icon {
        font-size: 79px;
      }
    }
    
    .create {
      bottom: 27.5px;
      right: 50%;
      transform: translateX(248px);
      .icon {
        font-size: 66px;
      }
    }
    
    .side-panel {
      right: 50%;
      transform: translateX(275px);
      
      .close {
        left: 21px;
        .icon {
          font-size: 22px;
        }
      }
    }
    
  }
  
  .settings-main {
    
    .logout {
      bottom: 27.5px;
      right: 50%;
      transform: translateX(248px);
      .icon {
        font-size: 66px;
      }
    }
  }
  
  .list-main {
    
    .create-margin {
      padding: 0 0 132px;
    }
  }
  
  .side-panel-main {
    
  }
}


.hide {
  display: none;
  transition: all 0.5s;
}


