/*
  upKeep for fun
  
*/

$mainColor: #66C7F4;
$secondColor: #B2FFD6;
$lightColor: #FEFEFE;

body {
  box-sizing: border-box;
  
  
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:link {
    text-decoration: none;
    color: black;
  }
  
  input {
    text-align: center;
  }
  h1 {
    margin: 0;
  }
  
  h5 {
    margin: 0;
  }
  
}




.login-main {
  padding: 50px 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  .login-logo {
    height: 150px;
    width: 270px;
    text-align: center;
    
  }
  
  .login-auth {
    display: flex;
    flex-direction: row;
    
    .google-btn {
      margin: 5px;
      color: $lightColor;
      background-color: #dd4b39;
      height: 75px;
      width: 130px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .facebook-btn {
      margin: 5px;
      color: $lightColor;
      background-color: #3b5998;
      height: 75px;
      width: 130px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .login-input {
    width: 270px;
    margin: 5px 0;
  }
  
  .sign-up {
    margin: 5px;
    color: $lightColor;
    background-color: $mainColor;
    height: 75px;
    width: 130px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.user-view {
  display: flex;
  flex-direction: row;
  
  
  .nav-main {
    min-height: 100vh;
    width: 20vw;
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    .btn {
      margin: 1vw;
      width: 18vw;
      height: 18vw;
      background-color: $secondColor;
      border-radius: 10px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .mini-Logo {
      
    }
    
    .user-setting-btn {
      
    }
    
    .list-logo {
      margin: 1vw 1vw 2vw;
    }
    
    .icon {
      font-size: 14vw;
    }
  
    
  }
  
  .title  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
  }
  
  .create {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    height: 16vw;
    width: 16vw;
    background-color: $mainColor;
    border-radius: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .icon {
      font-size: 10vw;
    }
  }
  
  .edit-btn {
    margin: 10px 0;
    background-color: $mainColor;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .side-panel {
    margin: 0;
    padding: 0;
    background-color: $lightColor;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    border-left: solid $secondColor 1vw;
    transition: all 0.5s;
    
    .close {
      position: absolute;
      top: 2vw;
      left: 2vw;
      height: 8vw;
      width: 8vw;
      background-color: $mainColor;
      border-radius: 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .icon {
        font-size: 4vw;
      }
    }
  
  
    .btns {
      position: absolute;
      bottom: 10px;
      width: 100%;
    
    }
  }
}



.home-main {
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  
  .list-mini {
    background-color: $secondColor;
    border-radius: 10px;
    margin: 7px 1vw;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
    .list-mini-name {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 48vw;
    }
    
    .list-mini-length {
      height: 100%;
      width: 15vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .list-mini-btns {
      width: 15vw;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      
      
      
      
      
    }
    
  }
  
}


.settings-main {
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  
  .input-wrapper {
    background-color: $secondColor;
    border-radius: 10px;
    margin: 7px 1vw;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .check {
    justify-content: space-around;
  }
  .set-titles {
    min-width: 85px;
  }
  .set-input {
    width: 100%;
  }
  .btn {
    background-color: $mainColor;
    border-radius: 5px;
    padding: 8px;
    margin: 15px;
    
  }
  
  
}

.list-main {
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
  }
  
  .item-wrapper {
    background-color: $secondColor;
    border-radius: 10px;
    margin: 7px 1vw;
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .item-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}



.hide {
  display: none;
  transition: all 0.5s;
}






